<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show All products page</title>
</head>
<body>

    <form method="get">
        {{ filtered_products.form.as_p}}
        <input type="submit" value="press">
    </form>

    <span class="step-links">
        {% if product_page_obj.has_previous %}
            <a href="?page=1">&laquo;First</a>
            <a href="?page={{ product_page_obj.previous_page_number}}"> Previus</a>
        {% endif %}
        
        <span class="current">
            Page [{{product_page_obj.number}}] of {{product_page_obj.paginator.num_pages}}
        </span>
        
        {% if product_page_obj.has_next %}
            <a href="?page={{ product_page_obj.next_page_number}}"> Next</a>
            <a href="?page={{ product_page_obj.paginator.num_pages}}">&raquo;Last</a>
        {% endif %}

    </span>

    {% for product in product_page_obj%}
        <h2>
            title: {{product.title}} <br>
            description: {{product.description}} <br>
            price: {{product.price}} <br>
        </h2>
    {% endfor %}

    <div>
        <span class="step-links">
            {% if product_page_obj.has_previous %}
                <a href="?page=1">&laquo;First</a>
                <a href="?page={{ product_page_obj.previus_page_number}}"> Previus</a>
            {% endif %}
            
            <span class="current">
                Page {{product_page_obj.page}} of {{product_page_obj.paginator.num_pages}}
            </span>
            
            {% if product_page_obj.has_next %}
                <a href="?page={{ product_page_obj.next_page_number}}"> Next</a>
                <a href="?page={{ product_page_obj.paginator.num_pages}}">&raquo;Last</a>
            {% endif %}

        </span>

    </div>
    
</body>
</html>