<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show All products page</title>
</head>
<body>
    {% load myapp_extras %}

    <form method="get">
        {{ filtered_products.form.as_p}}
        <input type="submit" value="press">
    </form>

    <span class="step-links">
        {% if product_page_obj.has_previous %}
            <a href="{%my_url 1 'page' request.GET.urlencode %}">&laquo;First</a>
            <a href="{%my_url product_page_obj.previous_page_number 'page' request.GET.urlencode %}">Previous</a>
        {% endif %}
        
        <span class="current">
            Page [{{product_page_obj.number}}] of {{product_page_obj.paginator.num_pages}}
        </span>
        
        {% if product_page_obj.has_next %}
            <a href="{%my_url product_page_obj.next_page_number 'page' request.GET.urlencode %}"> Next</a>
            <a href="{%my_url product_page_obj.paginator.num_pages 'page' request.GET.urlencode %}">&raquo;Last</a>
        {% endif %}

    </span>

    {% for product in product_page_obj%}
        <h2>
            {{product.id}}  <br>
            {{product.title}} <br>
            {{product.description}} <br>
            {{product.price}} <br>
        </h2>
    {% endfor %}

    </div>
    
</body>
</html>